@font-face {
  font-family: "Palanquin Dark";
  src: url("../fonts/PalanquinDark-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("../fonts/PalanquinDark-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("../fonts/PalanquinDark-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("../fonts/PalanquinDark-SemiBold.ttf");
  font-weight: 600;
}
